
h1 {
  text-align: center;
}

.inputs {
  width: 500px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

.left-arrow, .right-arrow {
  cursor: pointer;
}

.garage-display-none {
  display: none;
}

.item-name {
  cursor: pointer;
}